@import "tailwindcss";
@import "@bullwatch/ui/tokens.css";
@source "../../../../packages/ui/src";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-2sm: 0.8125rem;
  --text-2sm--line-height: 1.25rem;

  --ease-snout: cubic-bezier(0.16, 1, 0.3, 1);

  --color-bg-default: rgb(var(--bg-default));
  --color-bg-muted: rgb(var(--bg-muted));
  --color-bg-subtle: rgb(var(--bg-subtle));
  --color-bg-emphasis: rgb(var(--bg-emphasis));
  --color-bg-inverted: rgb(var(--bg-inverted));
  --color-bg-info: rgb(var(--bg-info));
  --color-bg-success: rgb(var(--bg-success));
  --color-bg-attention: rgb(var(--bg-attention));
  --color-bg-warning: rgb(var(--bg-warning));
  --color-bg-error: rgb(var(--bg-error));

  --color-border-subtle: rgb(var(--border-subtle));
  --color-border-default: rgb(var(--border-default));
  --color-border-emphasis: rgb(var(--border-emphasis));
  --color-border-muted: rgb(var(--border-muted));

  --color-content-inverted: rgb(var(--content-inverted));
  --color-content-muted: rgb(var(--content-muted));
  --color-content-subtle: rgb(var(--content-subtle));
  --color-content-default: rgb(var(--content-default));
  --color-content-emphasis: rgb(var(--content-emphasis));
  --color-content-info: rgb(var(--content-info));
  --color-content-success: rgb(var(--content-success));
  --color-content-attention: rgb(var(--content-attention));
  --color-content-warning: rgb(var(--content-warning));
  --color-content-error: rgb(var(--content-error));
}
